<div class="row">
    <div class="col-xs-12">
      <label for="sname" class="form-label"
      [ngStyle]="{'font-weight':'600','color':'rgb(50, 50, 50)'}">Server Name</label>
      <!-- <input type="text"
       class="form-control" 
       id="sname"
       [(ngModel)]="newServerName"> -->
       <input type="text"
       class="form-control" 
       id="sname"
       #newServerNameInput>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <label for="scontent" class="form-label"
      [ngStyle]="{'font-weight':'600','color':'rgb(50, 50, 50)'}">Server Content</label>
      <!-- <input type="text" 
      class="form-control" 
      id="scontent"
      [(ngModel)]="newContentName"> -->
      <input type="text" 
      class="form-control" 
      id="scontent"
      #newContentNameInput>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-xs-12">
      <button type="button"
       class="btn btn-primary"
       (click)="onServerCreate(newServerNameInput)">Add Server</button>
      <button type="button" 
      class="btn btn-primary m-lg-4"
      (click)="onBlueprintCreate(newServerNameInput)">Add Blueprint</button>
    </div>
  </div>
